body {
    
     text-align :left ;
    color :black ;
    font-weight :bold;
}

.form-group {
    overflow: hidden;
}

.image {
    width: 350px;
    height: 350px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.image img {
    margin: 0px -90px 0px -90px;
}

